body{
  font-family: Arial;
  background:#eef1f5;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container{
  background:rgb(17, 129, 185);
  padding:20px;
  border-radius:10px;
  width:300px;
}

h2{
  text-align:center;
}

.input-area{
  display:flex;
  gap:10px;
  margin-bottom:15px;
}

input{
  flex:1;
  padding:8px;
  border-radius:6px;
  border:1px solid #ccc;
}

button{
  background:#5846e0;
  color:white;
  border:none;
  padding:8px 12px;
  border-radius:6px;
  cursor:pointer;
}

li{
  display:flex;
  justify-content:space-between;
  background:#fff9f9;
  padding:8px;
  margin-bottom:6px;
  border-radius:6px;
}

.borrar{
  background:#c40606;
  border:none;
  color:white;
  border-radius:5px;
  cursor:pointer;
  padding:4px 8px;
}