body{
  font-family: Arial;
  background:#879cb8;
  display:flex;
  justify-content:center;
  align-items:center;
  height:600px;
}

.container{
  background:rgb(255, 255, 255);
  padding:20px;
  border-radius:10px;
  width:300px;
}

h2{
  text-align:center;
}

.input-area{
  display:flex;
  gap:10px;
  margin-bottom:15px;
}

input{
  flex:1;
  padding:8px;
  border-radius:6px;
  border:1px solid #063cee;
}

button{
  background:#687dda;
  color:white;
  border:none;
  padding:8px 12px;
  border-radius:6px;
  cursor:pointer;
}

li{
  display:flex;
  justify-content:space-between;
  background:#eeeeee;
  padding:8px;
  margin-bottom:6px;
  border-radius:6px;
}

.borrar{
  background:#c40606;
  border:none;
  color:white;
  border-radius:5px;
  cursor:pointer;
  padding:4px 8px;
}

.rojo{
 background:#ec8282;
}